.App {
  background: linear-gradient(#83adb5 65%, #c7bbc9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 70px;

  h1 {
    text-align: center;
  }
}






